@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}
.container{
  width:100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #46063a);
  color: #fff;;
  padding:10px;
}
.calculator{
  width: 100%;
  max-width: 600px;
  margin-left:10% ;
  margin-top:10%;
}
.calculator h1{
  font-size:60px;
}
.calculator h1 span{
  color: #ffe600;
}
.input_box{
  margin:40px 0;
  padding:35px;
  border-radius:10px;
  background-color: rgba(255, 255, 255, 0.259);
  display: flex;
  align-items: center;
}
.input_box input{
  flex:1;
  margin-right:20px;
  padding:14px 20px;
  border:0;
  outline:0;
  border-radius:5px;
  font-size:18px;
  position: relative;
}
#btn{
  cursor: pointer;
  font-weight: 500;
  background-color: #ffe600;
}
.input_box input::-webkit-calendar-picker-indicator{
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}
#result{
  font-size: 20px;
  font-weight: 500;
}
#result span{
     color: #ffe600;
}
@media only screen and (max-width:500px) {
  .calculator{
    width:100%;
    max-width: 500px;
    margin-left:5% ;
    margin-top:5%;
    margin:0 auto;
  }
  .calculator h1{
    font-size:30px;
  }
  .input_box{
    display:block;
    margin:30px 0;
    width: 90%;
    margin:0 auto;
  }
  .input_box input{
    margin-right:10px;
    padding:18px 30px;
    font-size:18px;
  }
  .input_box input::-webkit-calendar-picker-indicator{
    background-size: 20px;
  }
  #btn{
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
    align-items: center;
  }
  #result{
    font-size: 15px;
  }
}